*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: black;
    color: white;
}



.carouselImg{
    height: 80vh;
}


#cardImg3{
  height: 500px;
}


#blogImg{
    width: 200px;
    height: 40vh;
}



#content{
    background-color: antiquewhite;
}

form{
margin-top:50px;
 }


 #contextImg{
    height: 50vh;
}





@media screen and (max-width:768px){
    #banner{
       height: 53vh;
    }

    #aboutTitleSec{
       display:flex ;
       flex-direction: column;
      
       width: 170%;
   }


   #contextImg{
    height: 40vh;
}

} 




 @media screen and (max-width:426px){
    
    #slides{
        height: 50vh;
    }

    #contextImg{
        height: 60vh;
    }

    #banner{
        height: 49.5vh;
     }


     #aboutTitleSec{
        display:flex ;
        flex-direction: column;
       padding-bottom: 4rem;
        width: 100%;
    }

    #contextImg{
        height: 40vh;
    }

     
 }


 
 @media screen and (max-width:321px){
    
    #slides{
        height: 45vh;
    }

   
    #contextImg{
        height: 40vh;
    }

 }